<h1 class="text-center">Crie uma lista de tarefas!</h1>
<h4 class="text-center">Essa aplicação ajudará você a organizar sua vida!</h4>
<p class="text-center">
	{{#link-to 'todos' class='btn btn-success'}}Crie sua primera tarefa{{/link-to}}
</p> 